.synth-wrapper {
    display: flex;
    position: relative;
    margin-top: 20px;
}

.synth-white-key {
    width: 2.875rem;
    height: 10rem;
    background: #252934;
    border: 0.125rem solid #1c1f28;
    cursor: pointer;
}

.synth-black-key {
    width: 2.25rem;
    position: absolute;
    height: 5rem;
    background: #1c1f28;
    cursor: pointer;
}

.synth-black-key--1 {
    left: 2rem;
}

.synth-black-key--2 {
    left: 5.1rem;
}

.synth-black-key--3 {
    left: 11.4rem;
}

.synth-black-key--4 {
    left: 14.5rem;
}

.synth-black-key--5 {
    left: 17.6rem;
}

.synth-black-key--6 {
    left: 23.8125rem;
}

.synth-black-key--7 {
    left: 27rem;
}

.synth-black-key--8 {
    left: 33.3rem;
}

.synth-black-key--9 {
    left: 36.4rem;
}

.synth-black-key--10 {
    left: 39.6rem;
}

.oscillator-type {
    display: flex;
    align-items: center;
}

.oscillator-type-btn-wrapper {
    display: flex;
}

.oscillator-type-btn {
    font-size: 0.75rem;
    color: #e5e5e9;
    background: #252934;
    padding: 0.625rem 1.5625rem;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0.1875rem;
    margin: 0.125rem;
}

.oscillator-type-title {
    color: #e5e5e9;
    font-size: 0.75rem;
    margin-right: 1.5625rem;
}
