.app {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 62.5rem;
    border-radius: 0.1875rem;
    background: #1c1f28;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar-link {
    font-size: 12px;
    color: #e5e5e9;
    background: #252934;
    text-decoration: none;
    padding: 10px 25px;
    margin: 2px 5px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 3px;
}

.navbar-link:hover {
    background: #3260fc;
}

button {
    font-size: 12px;
    padding: 10px 25px;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    margin: 2px;
    background-image: linear-gradient(to right, #3260fc, #2d59e9);
}

.app-content {
    padding-top: 25px;
}
