.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 0.1875rem;
    background: #1e1e1e;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #282828;
    border-bottom: 1px solid #23272a;
}

.navbar-link {
    font-size: 0.75rem;
    color: #e5e5e9;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
    font-weight: 500;
    text-decoration: none;
    padding: 0.625rem 1.5625rem;
    margin: 0.125rem 0.3125rem;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0.125rem;
    transition: 0.2s;
}

.navbar-link:hover {
    background: #7fc146;
}

button {
    font-size: 0.75rem;
    padding: 0.625rem 1.5625rem;
    border-radius: 0.1875rem;
    font-weight: 500;
    border: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    margin: 0.125rem;
    letter-spacing: 0.0625rem;
    background: #282828;
    transition: 0.2s;
}

button:hover {
    background: #ffd300;
}

.app-content {
    padding-top: 25px;
}
