* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    background-color: rgb(26, 27, 49);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
