.beat-tracker-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.beat-line-wrapper {
    display: flex;
    flex-direction: column;
}

.beat-tracker-control {
    display: flex;
    margin-right: 0.3125rem;
    align-items: center;
}

.rangeslider-vertical {
    margin: 0;
}

.rc-slider-rail {
    background: #252934;
}

.rc-slider-handle {
    border: none;
}

.rc-slider-track {
    background-color: #555759;
}

.beat-tracker-controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 0.9375rem;
}

.sequencer {
    display: flex;
}

.react-radio-buttons-group__item:first-child .react-radio-button__control {
    background: #252934;
    border: none;
    font-size: 0.75rem;
    color: #e5e5e9;
}

.react-radio-button__input:checked + .react-radio-button__control {
    background-image: linear-gradient(to right, #3260fc, #2d59e9);
    border: none;
    font-size: 0.75rem;
    color: #e5e5e9;
}
.react-radio-button__control {
    height: 2.1875rem;
    line-height: 2.1875rem;
}

.react-radio-button__control {
    background: #252934;
    border: none;
    font-size: 0.75rem;
    color: #e5e5e9;
}

.react-radio-buttons-group {
    margin-right: 0.625rem;
}

.sequencer-settings {
    display: flex;
    flex-direction: column;
}

.sequencer-equalizer {
    height: 12.5rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.steps-line {
    display: flex;
    margin-left: 5rem;
    border-radius: 0.125rem;
    background: #313438;
}

.step {
    color: rgba(255, 255, 255, 0.4);
    width: 2.1875rem;
    height: 2.1875rem;
    display: flex;
    font-size: 0.75rem;
    align-items: center;
    padding-right: 0.1875rem;
    justify-content: center;
}
