.pad-wrapper {
    width: 6.25rem;
    height: 6.25rem;
    color: #e5e5e9;
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
    background: rgb(35, 40, 65);
    margin: 0.125rem;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-size: 0.6875rem;
    border-radius: 0.1875rem;
}

.pad-wrapper.active {
    animation: pulse 1s ease-in-out;
}

@keyframes pulse {
    0% {
        background: #6239ed;
    }
    50% {
        background: #31d7da;
    }
    100% {
        background: #6239ed;
    }
}
