.beatline-wrapper {
    display: flex;
}

.beatline-title {
    width: 5rem;
    font-size: 0.75rem;
    color: #e5e5e9;
    background: #252934;
    margin-right: 1.25rem;
    border-radius: 0.1875rem;
    margin-bottom: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.beatline-beat {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 0.1875rem;
    cursor: pointer;
    background: #252934;
    margin-bottom: 0.25rem;
    margin-right: 0.25rem;
    z-index: 999;
}

.beatline-beat.tracking {
    background: rgb(37, 42, 68);
}

.beatline-beat.active {
    background: #6239ed;
    box-shadow: 0 0.0625rem 1.25rem rgba(113, 59, 240, 0.4);
    animation: pulse 1s ease-in-out;
}

.beatline-beat:hover {
    background: #31d7da;
}

.beatline {
    display: flex;
    margin-right: 1.25rem;
}

@keyframes pulse {
    0% {
        background: #6239ed;
    }
    50% {
        background: #31d7da;
    }
    100% {
        background: #6239ed;
    }
}
