.pads-volume-range {
    outline: none;
}

.drumpads {
    display: flex;
}

.drumpads-wrapper {
    display: flex;
    padding: 0.625rem;
}

.rc-slider-vertical .rc-slider-rail {
    width: 2px;
}
.rc-slider-vertical .rc-slider-handle {
    margin-left: -6px;
}

.equalizer {
    width: 13rem;
    height: 16rem;
    display: flex;
    justify-content: space-between;
}
