.patterns-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 8.375rem;
    align-content: flex-start;
}

.pattern-item {
    width: 3.75rem;
    margin: 0.125rem;
    height: 3.75rem;
    cursor: pointer;
    font-size: 0.75rem;
    color: #e5e5e9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6875rem;
    border-radius: 0.1875rem;
    background: rgb(35, 40, 65);
}

.pattern-item:hover {
    background: #31d7da;
}
